In [2]:
myList1 = [ 1,2,3 , 'Abhishek','Sonal','Priyanka']
myList2 = ['q','Jarvis','Ultron']
            
print(myList1)
print(myList2)

[1, 2, 3, 'Abhishek', 'Sonal', 'Priyanka']
['q', 'Jarvis', 'Ultron']

In [3]:
 myList1.append('Family')
 print(myList1)

[1, 2, 3, 'Abhishek', 'Sonal', 'Priyanka', 'Family']

In [5]:
myList1.insert(3,'Indore')
print(myList1)

[1, 2, 3, 'Indore', 'Abhishek', 'Sonal', 'Priyanka', 'Family']

In [8]:
myList1.append(myList2)
print(myList1)
print(len(myList1))

[1, 2, 3, 'Indore', 'Abhishek', 'Sonal', 'Priyanka', 'Family', ['q', 'Jarvis', 'Ultron'], ['q', 'Jarvis', 'Ultron']]
10

In [9]:
myList1.extend(myList2)
print(myList1)
print(len(myList1))

[1, 2, 3, 'Indore', 'Abhishek', 'Sonal', 'Priyanka', 'Family', ['q', 'Jarvis', 'Ultron'], ['q', 'Jarvis', 'Ultron'], 'q', 'Jarvis', 'Ultron']
13

In [26]:
print(myList1)

[1, 2]

In [27]:
print(myList2)

['q', 'Jarvis', 'Ultron']

In [28]:
myList2.pop(1)
print(myList2)

['q', 'Ultron']

In [36]:
myList2.remove('q')
print(myList2)

[]

In [39]:
mixedtypeList = [1,2,3, 'Abhishek','Kunal','Abhay']
mixedtypeList.reverse()

print(mixedtypeList)

['Abhay', 'Kunal', 'Abhishek', 3, 2, 1]

In [1]:
newlist = [ 1,3,45,12,36]

sorted_list = sorted(newlist)

print(sorted_list)
print(newlist)

[1, 3, 12, 36, 45]
[1, 3, 45, 12, 36]

In [3]:
print('reverse sorted list is :' , sorted(newlist, reverse = True))

reverse sorted list is : [45, 36, 12, 3, 1]

In [5]:
newlist.sort()
print(newlist)

[1, 3, 12, 36, 45]

In [11]:
stringlist = 'apple,banana,grapes'
newlist = stringlist.split(',')
print(newlist)
LIST = 'we are in the end game now'
okay = LIST.split()
print(okay)

['apple', 'banana', 'grapes']
['we', 'are', 'in', 'the', 'end', 'game', 'now']

In [18]:
listoflist = [1,2,3,4,5,'abhishek','abhay','ruchir','kunal']

print(listoflist[:])
print(listoflist[1:8])
print(listoflist[::2])

[1, 2, 3, 4, 5, 'abhishek', 'abhay', 'ruchir', 'kunal']
[2, 3, 4, 5, 'abhishek', 'abhay', 'ruchir']
[1, 3, 5, 'abhay', 'kunal']

In [21]:
print(listoflist.count('abhay'))

1

In [25]:
List11 = [1,2,3,4,5,'abhishek','abhay','ruchir','kunal']
for element in List11:
    print(element)

1
2
3
4
5
abhishek
abhay
ruchir
kunal

In [26]:
Mylist = [i**2 for i in range(5)]
print(Mylist)

# list comprehensions
# nested list comprehensions

[0, 1, 4, 9, 16]

In [28]:
mymatrix = []

[mymatrix.append([j for j in range(3)]) for i in range(4)]
print(mymatrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [33]:
myList = [1,2,3,4,5,6,7,8]

newlist = [i**2 for i in myList]
print(newlist)

Newlist = [(i,i) for i in myList]
print(Newlist)

OList = [even for even in myList if even%2 == 0 and even != 2]
print(OList)

[1, 4, 9, 16, 25, 36, 49, 64]
[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 8)]
[4, 6, 8]

In [48]:
oklist = []
[oklist.append([(i+j)/2 for j in range(0,3)]) for i in range(1,10,3)]
print(oklist)

[[0.5, 1.0, 1.5], [2.0, 2.5, 3.0], [3.5, 4.0, 4.5]]

In [1]:
mytuple = (1,2,3,4,5)
print(mytuple)

(1, 2, 3, 4, 5)

In [2]:
nestedtuple = (1,2,3,'Abhishek',(2019,'26 April','Endgame'),['Stark','Thor','Cap'])
print(nestedtuple)

(1, 2, 3, 'Abhishek', (2019, '26 April', 'Endgame'), ['Stark', 'Thor', 'Cap'])

In [5]:
print(nestedtuple[5])

['Stark', 'Thor', 'Cap']

In [6]:
print(nestedtuple[4][2])

Endgame

In [9]:
print(nestedtuple[:])
print(nestedtuple[-3:])
print(nestedtuple[:-1])

(1, 2, 3, 'Abhishek', (2019, '26 April', 'Endgame'), ['Stark', 'Thor', 'Cap'])
('Abhishek', (2019, '26 April', 'Endgame'), ['Stark', 'Thor', 'Cap'])
(1, 2, 3, 'Abhishek', (2019, '26 April', 'Endgame'))

In [31]:
newtuple = (11,12,13,14,15,[17,18,19,20])
newtuple[5][2] = 'fafa'
newtuple[5][3] = 'lafa'
print(newtuple)    
print(newtuple.count(13))

(11, 12, 13, 14, 15, [17, 18, 'fafa', 'lafa'])
1

In [21]:
tuples = (11,13,14) + (12,41,41)
print(tuples)

(11, 13, 14, 12, 41, 41)

In [32]:
Tuples = (('Abhishek',)*4)
print(Tuples)
print(type(Tuples))
del Tuples
print(Tuples)

('Abhishek', 'Abhishek', 'Abhishek', 'Abhishek')
<class 'tuple'>

NameError: name 'Tuples' is not defined

In [37]:
tuples1 = (1,2,3,'a','b','c')
tuples2 = (12,32,11,43,54,23,21)

print(tuples2.index(23))
print(tuples2[4])

5
54

In [43]:
Rtuple = sorted(tuples2)
print(tuples2)
print(Rtuple)
print(sorted(tuples2, reverse = True ))

(12, 32, 11, 43, 54, 23, 21)
[11, 12, 21, 23, 32, 43, 54]
[54, 43, 32, 23, 21, 12, 11]

In [44]:
lasttuple = (12,32,11,43,54,23,21)
print(max(lasttuple))
print(min(lasttuple))
print(sum(lasttuple))

54
11
196

In [47]:
myset = {1,2,3}
myset1 = {1,3,4,1,5,8}
print(myset)
print(myset1)
print(type(myset))

{1, 2, 3}
{1, 3, 4, 5, 8}
<class 'set'>

In [53]:
set1 = {'a','b',1}
set1.add(3)
print(set1)
set1.update([1,2,3,4,5,6,'Jarvis','Ultron','Thanos'])
print(set1)

{3, 1, 'a', 'b'}
{1, 2, 3, 'a', 4, 5, 6, 'Jarvis', 'Ultron', 'Thanos', 'b'}

In [57]:
tset = {1,3,5,6,'tony','steve','thor','thanos'}
tset.remove(3)
print(tset)

{1, 5, 6, 'thor', 'thanos', 'tony', 'steve'}

In [59]:
tset.discard(5)
print(tset)

{1, 6, 'thor', 'thanos', 'tony', 'steve'}

In [61]:
tset.pop()
print(tset)
tset.pop()
print(tset)

{'thor', 'thanos', 'tony', 'steve'}
{'thanos', 'tony', 'steve'}

In [63]:
tset.clear()
print(tset)

set()

In [67]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

print(set1 | set2)
print(set1.union(set2))
print(set1 & set2)
print(set1.intersection(set2))
print(set2 - set1)
print(set2.difference(set1))
print(set2 ^ set1)
print(set2.symmetric_difference(set1))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{6, 7}
{6, 7}
{1, 2, 6, 7}
{1, 2, 6, 7}

In [71]:
a = {1,2,3,4,5}
b = {2,3}

print('is a subset of b',a.issubset(b))
print(b.issubset(a))

is a subset of b False
True

In [84]:
myset1 =  frozenset([1,2,3,4,5])
print(myset1)
myset1.add(13)
print(myset1)
print(myset[3])
'''frozensets are immutable in nature
they can be used as keys in dictionary'''

frozenset({1, 2, 3, 4, 5})

AttributeError: 'frozenset' object has no attribute 'add'

In [85]:
dict = {100:'Abhishek',50 : 'Stark'}
print(dict)

{100: 'Abhishek', 50: 'Stark'}

In [87]:
dict1 = {1:'tony',2:['jarvis','ultron']}
print(dict1)

{1: 'tony', 2: ['jarvis', 'ultron']}

In [11]:
myDict = dict()
myDict = dict([(4,'abcd'),(2,'ab'),(3,'abhishek')])
print(myDict)

{4: 'abcd', 2: 'ab', 3: 'abhishek'}

In [125]:
Dicta = {'A': 'Abhishek','B':'Tirpude','C':'Surname' }
print(Dicta['B'])
print(Dicta.get('D'))

Tirpude
None

In [133]:
Dicte = {'name' : 'Abhishek' , 'hobby' : 'cricket', 'marks' : 'bad'}
Dicte['name'] = 'Abhi'
print(Dicte)

Dicte['division'] = 'A'
print(Dicte)

{'name': 'Abhi', 'hobby': 'cricket', 'marks': 'bad'}
{'name': 'Abhi', 'hobby': 'cricket', 'marks': 'bad', 'division': 'A'}

In [134]:
Dicte.pop('name')
print(Dicte)

{'hobby': 'cricket', 'marks': 'bad', 'division': 'A'}

In [139]:
del Dicte['hobby']
print(Dicte)

del Dicte
print(Dicte)

NameError: name 'Dicte' is not defined

In [140]:
dict = {1:2,3:4,5:6,7:8}
dict1 = dict.copy()
print(dict1)

{1: 2, 3: 4, 5: 6, 7: 8}

In [147]:
print(dict.keys())
print(dict.values())
print(dict.items())

dict_keys([1, 3, 5, 7])
dict_values([2, 4, 6, 8])
dict_items([(1, 2), (3, 4), (5, 6), (7, 8)])

In [146]:
fruits = {}.fromkeys(['apple','banana','grapes'],45)
print(fruits)

{'apple': 45, 'banana': 45, 'grapes': 45}

In [148]:
dict = {}
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [4]:
fruits = {'apples' : 5, 'banana' : 12 , 'grapes' : 17}

for x in fruits.items():
    print(x)

('apples', 5)
('banana', 12)
('grapes', 17)

In [6]:
fruits = {'apples' : 5, 'banana' : 12 , 'grapes' : 17}

fruitDict = { k:v for k,v in fruits.items() if v%2 == 0}
print(fruitDict)

{'banana': 12}

In [8]:
FruitDict = { k + '_royal' : v*12 for k,v in fruits.items() if v%2 == 0}
print(FruitDict)

{'banana_royal': 144}

In [16]:
string1 =  'Python'
string2 = 'Programming'

print(string1  +str(' ')+ string2)

Python Programming

In [19]:
count = 0
for character in 'Python Programming':
    if character == 'P':
        count += 1
print('total characters are :', count)

total characters are : 2

In [21]:
'python'.lower()

'python'

In [22]:
'python'.upper()

'PYTHON'

In [23]:
'this is a python program'.split()

['this', 'is', 'a', 'python', 'program']

In [25]:
' '.join(['this' , 'is','a','python','program'])

'this is a python program'

In [28]:
'pythonprogrammin'.find('th')

2

In [29]:
str1 = 'Python Programming'

str2 = str1.replace('Programming', 'Program')

print(str1)
print(str2)

Python Programming
Python Program

In [33]:
mystring = 'mAlayalam'

revstring = ''
for character in mystring:
    revstring = character + revstring
print(revstring)  
print(mystring)

malayalAm
mAlayalam

In [44]:
mystring = mystring.lower()
revstring= revstring.lower()

if mystring == revstring:
    print('palindrome')
else:    
    print('not palindrome')

palindrome

In [60]:
string1 = 'This is a python programmning language'

strings = string1.split()
print(string2)

strings.sort(reverse =  True)

revstring = ' '
for string in strings:
    revstring += string + ' '
    
print(revstring)    
print(strings)

['this', 'python', 'programmning', 'language', 'is', 'a']
 python programmning language is a This
['python', 'programmning', 'language', 'is', 'a', 'This']

In [ ]:
def addition(x,y):
    return(x+y)
def subtracction(x,y):
    return(x-y)
def multiplication(x,y):
    return(x*y)
def division(x,y):
    return(x/y)

print('1. addition')
print('2. addition')
print('3. multiplication')
print('4. division')

choice = int(input('enter the choice'))
if choice > 4 :
    print('invalid choice')  
    choice = int(input('enter the choice')) 
    
num1 = int(input('first number'))
num2 = int(input('second number'))

if choice == 1 :
    print(addition(num1,num2))
elif choice == 2:
    print(subtracction(num1,num2))
elif choice == 3:
    print(multiplication(num1,num2))
elif choice == 4:
    print(division(num1,num2))